body{
    background-color: #fcac5d;
}

h1{
    color: black;
    font-size: 60px;
    
}

h2{
    color: black;
    font-size: 35px;

}

p{
    color: black;
    font-size: 20px
}

/*
div{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    margin: 20px;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

html,body {
margin:0;
padding:0;
font-family: "Arimo", sans-serif;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


.teksti {
    width: 70%;
    margin: auto;
    font-size: 16px;
}

.footer {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.linkki1 {
    font-size: 20px;
    text-align: center;
    color: black;

}

.linkki2 {
    font-size: 20px;
    text-align: center;
    color: black;

}

.teksti img {
    width: 100%;
    height: 100%;

}

.kuva img {
    width: 100%;

}

@media only screen and (min-width: 700px) {
}
  .kuva img {
    width: 100%;

}
}

@media only screen and (min-width: 1025px) {
}
  .kuva img {
    width: 90%;

}
}
